RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9\/]+)/?$ index.php?page=$1&subpage=$2&request=$3 [QSA]
RewriteRule ^([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/?$ index.php?page=$1&subpage=$2 [QSA]
RewriteRule ^([a-zA-Z0-9_]+)/?$ index.php?page=$1 [QSA]